.Player {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 5em;
    background-image: url('../images/SealSwim.png');
    background: transparent;
    background-position: -1em 0.1em;
    background-size: 12em 6em;
    -webkit-transform: translate(0, 40em);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition: -webkit-transform 3s;
}

#Score {
    position: absolute;
    top: 10;
    left: 50%;
    width: 5em;
    height: 5em;
}

.Pipes1,
.Pipes2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 50em;
    background-size: 10em 50em;
}

.Pipe1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 10em;
    height: 50em;
    background-image: url('http://flappycreator.com/default/tube1.png');
    background-size: 10em 50em;
}

.Pipe2 {
    position: absolute;
    top: 135%;
    left: 0;
    width: 10em;
    height: 50em;
    background-image: url('http://flappycreator.com/default/tube2.png');
    background-size: 10em 50em;
}

.Scoreboard,
.Start {
    position: absolute;
    left: 50%;
    top: 0em;
    height: 40em;
    width: 40em;
    margin-left: -20em;
    box-sizing: border-box;
    background: transparent;
    background-image: url('http://img.clipartall.com/tiny-bubble-clip-art-bubble-clip-art-300_300.png');
    background-size: 40em;
    text-align: center;
    -webkit-transform: translate(0, -40em);
    -webkit-transition: -webkit-transform 0.5s;
}


/**
* Reset transform to animate it into the correct spot on the screen.
*/

.Scoreboard.is-visible,
.Start.is-visible {
    top: 10em;
    -webkit-transform: none;
}

.Scoreboard-restart {
    margin-top: 5em;
    font-size: 1.5em;
    padding: 0.4em 1.5em;
    border: 0.2em solid dimgrey;
    background: none;
    cursor: pointer;
}

.Scoreboard-restartText,
.Score {
    padding-top: 1em;
    font-family: 'Lucida Console', serif;
    font-size: 2em;
    color: dimgray;
}

.Score {
    font-size: 5em;
    font: bold;
    color: white;
    position: absolute;
    left: 50%;
    z-index: 100;
}

.StartText {
    padding-top: 4em;
    font-family: 'Lucida Console', serif;
    font-size: 1.8em;
    color: dimgray;
}

.Start {
    font-family: 'Lucida Console', serif;
    font-size: 1em;
    color: dimgray;
    z-index: 100;
}

.mute {
    position: absolute;
    background-color: transparent;
    margin-top: 0.5em;
    border: none;
    text-align: center;
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    background-image: url('https://maxcdn.icons8.com/Android_L/PNG/512/Media_Controls/medium_volume-512.png');
    background-size: 2.5em;
    z-index: 100;
}

.MuteMusicText {
    position: absolute;
    font-family: 'Lucida Console', serif;
    margin-top: -0.3em;
    margin-left: 1em;
    font-size: 2em;
    padding: 1em;
    z-index: 1000;
}

.MuteSEText {
    position: absolute;
    font-family: 'Lucida Console', serif;
    margin-top: 1.5em;
    margin-left: 1em;
    font-size: 2em;
    padding: 1em;
    z-index: 1000;
}

#muteSE {
    margin-top: 3em;
}

body {
    background: black;
}

.browsehappy {
    margin: 0.2em 0;
    color: #000;
    padding: 0.2em 0;
}

.GameCanvas {
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50em;
    height: 100%;
    margin-left: -25em;
    margin-top: -36em;
    overflow: hidden;
    background-image: url('http://pre11.deviantart.net/a978/th/pre/f/2011/250/e/e/undersea_bubbles_by_toonham-d496uzo.jpg');
    background-size: 50em, 100%;
    z-index: -1000;
}

.Ground {
    position: absolute;
    bottom: 0em;
    left: 0%;
    width: 500em;
    height: 3em;
    background-image: url('http://www.3dvalley.com/gallery/var/resizes/Textures/sand/sand02.jpg?m=1324238751');
}

.Starfish {
    position: absolute;
    bottom: 10em;
    left: -1%;
    width: 3em;
    height: 2.8em;
    background-image: url('https://img.clipartfest.com/6f3767d3c29e7772ff99a42c8f3b5221_starfish20clipart-cartoon-starfish-clipart_2400-2208.png');
    background-size: 3em;
    z-index: -800;
}

.Bubble1,
.Bubble2 {
    position: absolute;
    bottom: -10em;
    left: 150%;
    width: 4em;
    height: 8em;
    background-image: url('https://img.clipartfox.com/3af0f1334970c28ccc3b2e6ffb15dfa0_bubbles-clip-art-at-clker-com-water-bubble-clipart_294-599.png');
    background-size: 4em;
}

.Turtle1 {
    position: absolute;
    bottom: 40em;
    left: -1%;
    width: 8em;
    height: 8em;
    background-image: url('https://img.clipartfest.com/c75478d789ab728229079443def48e49_09c662d9633ad9ac3a1b5f88e89775-sea-turtle-clipart-transparent-background_432-432.png');
    background-size: 8em;
}

.Fish1 {
    position: absolute;
    bottom: 40em;
    left: -1%;
    width: 8em;
    height: 7em;
    background-image: url('https://img.clipartfox.com/55587b4d443b6c2880b8cf65471db779_fish-clip-art-image-555-cute-fish-clipart-no-background_592-559.png');
    background-size: 8em;
}

.Jelly1 {
    position: absolute;
    bottom: -10em;
    left: 150%;
    width: 6em;
    height: 7em;
    background-image: url('https://img.clipartfest.com/5a51fb603fab321765b196504fcc9e20_jellyfish20clip20art-cute-fish-clipart-no-background_1969-2750.png');
    background-size: 6em;
}